@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-display: swap;
  src: url(CuteFont.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "SF";
  font-weight: normal;
  src: url("fonts/SFPRODISPLAYREGULAR.OTF");
}
@font-face {
  font-family: "SF";
  font-weight: bold;
  src: url("fonts/SFPRODISPLAYBOLD.OTF");
}

@font-face {
  font-family: "EMOJI";
  src: url("NotoColorEmoji.ttf");
}

:root {
  --chat-admin-text-color: #ffffff;
  --chat-composer-background-color: #8c6962;
  --chat-composer-button-color: #ff8080;
  --chat-composer-caret-color: #ff8080;
  --chat-composer-input-background-color: #000000;
  --chat-composer-input-text-placeholder-color: #999999;
  --chat-delivery-receipt-color: #ff8080;
  --chat-edit-message-overlay-color: #8c6262;
  --chat-incoming-message-bubble-background-color: #303030;
  --chat-incoming-message-text-color: #ffffff;
  --chat-message-text-color: #ffffff;
  --chat-outgoing-message-background-gradient: initial;
  --chat-outgoing-message-bubble-background-color: #ff8080;
  --chat-primary-button-background-color: #ff8080;
  --chat-replied-message-background-color: #554444;
  --chat-scrollbar-thumb-color: rgba(227, 172, 172, 0.7);
  --chat-scrollbar-track-color: transparent;
  --mwp-header-background-color: #8c6262;
  --mwp-header-button-color: #ff8080;
  --mwp-header-text-color: #ffffff;
  --mwp-message-list-actions-gap: 4px;
  --mwp-message-list-actions-width: calc(84px + 3 * 4px);
  --mwp-message-row-background: transparent;
  --mwp-primary-theme-color: #ff8080;
  --mwp-subheader-text-color: #ff8080;
  --reaction-pill-background-color: #303030;
  --reaction-pill-multireact-selected-color: #ffe3e3;
  --text-highlight: rgba(255, 128, 128, 0.5);
}

:root {
  --chat-admin-text-color: #ffffff;
  --chat-composer-background-color: #8c6962;
  --chat-composer-button-color: #ff8080;
  --chat-composer-caret-color: #ff8080;
  --chat-composer-input-background-color: #000000;
  --chat-composer-input-text-placeholder-color: #999999;
  --chat-delivery-receipt-color: #ff8080;
  --chat-edit-message-overlay-color: #8c6262;
  --chat-incoming-message-bubble-background-color: #303030;
  --chat-incoming-message-text-color: #ffffff;
  --chat-message-text-color: #ffffff;
  --chat-outgoing-message-background-gradient: initial;
  --chat-outgoing-message-bubble-background-color: #ff8080;
  --chat-primary-button-background-color: #ff8080;
  --chat-replied-message-background-color: #554444;
  --chat-scrollbar-thumb-color: rgba(227, 172, 172, 0.7);
  --chat-scrollbar-track-color: transparent;
  --mwp-header-background-color: #8c6262;
  --mwp-header-background-color-alt: #946d6d;
  --mwp-header-button-color: #ff8080;
  --mwp-header-text-color: #ffffff;
  --mwp-message-list-actions-gap: 4px;
  --mwp-message-list-actions-width: calc(84px + 3 * 4px);
  --mwp-message-row-background: transparent;
  --mwp-primary-theme-color: #ff8080;
  --mwp-subheader-text-color: #ff8080;
  --reaction-pill-background-color: #303030;
  --reaction-pill-multireact-selected-color: #ffe3e3;
  --text-highlight: rgba(255, 128, 128, 0.5);
}

@keyframes gradientChange {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  background-color: #1f1f1f;
  color: white;
  margin: 0;
  padding: 0;
  --h: 70px;
  margin-top: var(--h);
  display: flex;
  flex-direction: column;
  gap: 0;
  font-size: 16px;
}

* {
  font-family: "SF", "EMOJI", sans-serif;
  box-sizing: border-box;
  letter-spacing: 0.02em;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

.replit {
  text-align: left;

  margin: 0;
}

.replitHb {
  margin: 0;
}

hr {
  border: none;
  border-top: 1px solid white;
  opacity: 0.6;
  margin: 20px 0;
}

.text {
  text-align: center;
}

.container {
  width: 80%;
  margin: 25px auto 0;
  padding: 20px;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease-in-out, height 0.3s ease, width 0.3s ease;
}
.containerUT {
  width: 80%;
  margin: 25px auto 0;
  padding: 20px;
  border: 2px solid white;
  background-color: black;
  transition: transform 0.3s ease-in-out, height 0.3s ease, width 0.3s ease;
  font-size: 20px;
}

.button,
.vanillaButton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background: linear-gradient(90deg, purple, fuchsia);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  font-weight: bold;
  color: white;
  border-radius: 5px;
  border: solid 2px white;
  transition: background 0.5s ease-in-out, background-color 0.5s ease-in-out,
    color 0.5s ease-in-out;
}

.button:hover {
  background: linear-gradient(90deg, fuchsia, purple);
}
.button {
  display: flex;
  justify-content: left;
}

.bnw {
  background: rgba(255, 255, 255, 1);
  color: black;
  justify-content: default;
  display: block;
}

.bnw:hover {
  color: white;
  background: linear-gradient(90deg, fuchsia, purple);
}

.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: var(--mwp-header-button-color);
  margin: 4px 0;
}
/*.bar:hover{
    transform: scale(120%);
  }
*/
.header {
  /* background-color: #1a1a1a; */
  background-color: var(--mwp-header-background-color-alt);
  color: white;
  user-select: none;
  /* padding: 45px; */
  padding: 20px;
  text-align: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  /* border-bottom: 2px solid white; */
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
  /* box-shadow: 0 0 10px rgba(255, 255, 255, 0.2); */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  transition: height 0.4s ease-out;
  z-index: 2;
  height: var(--h);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: visible;
  color: var(--mwp-header-text-color);
}

.menu-options {
  width: 80%;
  display: none;
  flex-direction: column;
  position: fixed;
  top: 90px;
  left: 20px;
  right: 20px;
  /*background-color: #1a1a1a;*/
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px;
  animation: slideIn 0.7s ease-out;
  z-index: 3;
  overflow: visible;
}

.menu-options a {
  color: white;
  text-decoration: none;
  margin: 5px 0;
  cursor: pointer;
  animation: slideIn 0.5s ease-out;
}

.menu-options.active-menu {
  display: flex;
}
/*.container:hover {
    transform: rotateX(-15deg) rotateY(10deg);
}

.container:not(:hover) {
    transform: rotateX(0) rotateY(0);
}*/

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.textinput {
  display: block;
  width: 100%;
  padding: 10px;
  /* margin: 10px 0; */
  font-size: 16px;
  color: white;
  /* background-color: rgba(255, 255, 255, 0.1); */
  /* border: 2px solid white; */
  border-radius: 5px;
  box-sizing: border-box;
  border: none;
  transition: border-color 0.3s ease;
  background-color: var(--chat-composer-input-background-color);
  color: var(--chat-message-text-color);
  font-size: 16px;
  resize: none;
  border-radius: 18px;
  caret-color: var(--chat-composer-caret-color);
  overflow: auto;
}

.textinput::selection {
  background-color: var(--chat-composer-caret-color);
}

.textinput::placeholder {
  color: var(--chat-composer-input-text-placeholder-color);
}

.textinput:focus {
  outline: none;
  border-color: lightpink;
}

.rowCC {
  position: fixed;
  left: 0;
  top: var(--h);
  /* height: calc(100% - var(--h) - 100px); */
  height: calc(100% - var(--h));
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.opt-con {
  margin: 0;
  padding: 20px;
  height: 100%;
  overflow-y: auto;
  width: min(400px, 100%);
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1115px) {
  .opt-con {
    display: none;
  }
}

.chat-con {
  margin: 0;
  padding: 20px;
  /* height: 100%; */
  scrollbar-color: var(
      --chat-scrollbar-thumb-color,
      var(--scrollbar-thumb-color)
    )
    var(
      --chat-scrollbar-track-color,
      var(--mwp-message-row-background, var(--scrollbar-track-color))
    );
  flex: 1;
  overflow-y: scroll;
  /* min-width: min(100%, 715px); */
}

.chat-con::before {
  background-image: url("mess.jpg");
  background-attachment: fixed;
  /* height: calc(100vh - var(--h) - 100px); */
  height: calc(100vh - var(--h));
  object-fit: contain;
  content: "";
  position: fixed;
  top: var(--h);
  left: 0;
  width: 100vw;
  /* width: 100vw; */
  z-index: -1;
  /* max-width: 900px; */
}

.user-message-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.col-user-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
  align-items: flex-end;
  width: 100%;
}

.col-response-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
  align-items: flex-start;
  width: 100%;
}

.user-message {
  /*background-color: #4CAF50;*/
  background-color: var(--chat-delivery-receipt-color);
  color: var(--chat-message-text-color);
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  word-wrap: break-word;
  white-space: pre-wrap;
  padding: 8px 12px;
  max-width: min(70%, 564px);
  user-select: none;
  transition: border-radius 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.emoji-only {
  font-size: 25px !important;
  background-color: transparent !important;
  padding: 0 !important;
}

.user-message:first-of-type {
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
}

.user-message:last-of-type {
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  border-top-left-radius: 18px;
}

.user-message:not(.user-message:last-of-type):not(.user-message:first-of-type) {
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}

.response-message-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
.response-message:hover {
  /* background-color: rgba(255, 255, 255, 0.2); */
}

.response-message {
  user-select: none;
  /* background-color: rgba(255, 255, 255, 0.1); */
  background-color: var(--chat-incoming-message-bubble-background-color);
  color: var(--chat-incoming-message-text-color);
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  /* border-radius: 18px; */
  word-wrap: break-word;
  transition: background-color 0.3s ease, max-height 0.3s ease;
  white-space: pre-wrap;
  padding: 8px 12px;
  max-width: min(70%, 564px);
}

/* .response-message:first-of-type {
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
  border-bottom-right-radius: 18px;
}

.response-message:last-of-type {
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 18px;
  border-top-right-radius: 18px;
}

.response-message:not(.response-message:last-of-type):not(
    .response-message:first-of-type
  ) {
  border-top-right-radius: 18px;
  border-bottom-left-radius: 18px;
} */

.response-message:first-of-type {
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}

.response-message:last-of-type {
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  border-top-right-radius: 18px;
}

.response-message:not(.response-message:last-of-type):not(
    .response-message:first-of-type
  ) {
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}

/* 
.response-message:first-of-type {
  border-top-left-radius: 18px; 
  border-top-right-radius: 18px;
}

.response-message:last-of-type {
  /* border-bottom-left-radius: 18px; 
  border-bottom-right-radius: 18px;
} */

.fixedBox {
  /* max-width: 900px; */
  padding: 10px;
  width: 100%;
  /* border: 2px solid white; */
  /* border-radius: 10px; */
  /* box-shadow: 0 0 10px rgba(255, 255, 255, 0.2); */
  transition: transform 0.3s ease-in-out, height 0.3s ease, width 0.3s ease;
  display: flex;
  align-items: flex-end;
  z-index: 6;
  /* height: 100px; */
  height: fit-content;
  background-color: var(--chat-composer-background-color);
  /* background-color: var(--mwp-header-background-color); */
  color: var(--mwp-header-text-color);
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  gap: 10px;
}

.chatZ {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  min-width: 0;
}

.chatZ > * {
  width: 100%;
}

/* .fixedBox > * {
  height: 100%;
} */

.c-textinput {
  flex: 1;
  padding: 20px;
  font-size: 16px;
  color: white;
  /* background-color: rgba(255, 255, 255, 0.1); */
  border: none;
  /* border-radius: 5px; */
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.c-textinput::placeholder {
  color: var(--chat-composer-input-text-placeholder-color);
}

.c-textinput:focus {
  outline: none;
  border-color: lightpink;
}

.send-button {
  padding: 10px;
  /* margin-left: 10px; */
  font-size: 16px;
  /* background: linear-gradient(90deg, purple, fuchsia); */
  /* box-shadow: 0 0 10px rgba(255, 255, 255, 0.2); */
  font-weight: bold;
  color: white;
  border-radius: 5px;
  /* border: solid 2px white; */
  cursor: pointer;
  border: none;
  /* transition: background 0.5s ease-in-out; */
  /* background-color: var(--chat-composer-button-color); */
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
}

.send-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.fixedMiddle {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*width: 80%;
  max-width: 600px;*/
  z-index: 1001;
}

.darkBG {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

#chatPad {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.lia-ctxmenu {
  display: flex;
  flex-direction: column;
  border-radius: 9px;
  background-color: #1f1f1f7e;
  color: white;
  justify-content: center;
  align-items: center;
  /* min-width: 330px; */
  min-width: fit-content;
  animation: openApp 0.2s ease-out forwards;
  backdrop-filter: blur(20px);
}

.lia-ctxmenu svg {
  fill: white;
}

.lia-ctxmenu .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
  user-select: none;
  width: 100%;
}

.lia-ctxmenu .item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.lia-ctxmenu .item:last-of-type {
  border: none;
}

@keyframes openApp {
  0% {
    /* width: 0; */
    /* height: 0; */
    opacity: 0;
    transform: scale(0.9);
    filter: brightness(50%);
    /* transform: scale(0); */
  }
  50% {
    filter: brightness(80%);
  }
}
@keyframes openBG {
  0% {
    /* width: 0; */
    /* height: 0; */
    opacity: 0;
    /* transform: scale(0.9); */
    /* filter: brightness(50%); */
    /* transform: scale(0); */
  }
  50% {
    /* filter: brightness(80%); */
  }
}

.center-fixed {
  z-index: 999;
  position: fixed;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  border-radius: 18px;
}

.blur-bg {
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(20px);
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 997;
  animation: openBG 0.2s ease-out forwards;
}

.react-c {
  position: fixed;
  display: flex;
  flex-direction: row;
  padding: 10px;
  user-select: none;
  align-items: center;
  justify-content: center;
  width: fit-content;
  max-width: 100vw;
  overflow-x: auto;
  height: fit-content;
  border-radius: 2em;
  background-color: #1f1f1f7e;
  backdrop-filter: blur(20px);
  color: white;
  animation: openApp 0.2s ease-out forwards;
  z-index: 999;
  gap: 5px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.react-c > * {
  cursor: pointer;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.react-c > *:hover {
  scale: 1.3;
}
